/* Gruvbox Color Palette */
@define-color bg #1d2021;
@define-color fg #ebdbb2;
@define-color yellow #fabd2f;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color aqua #8ec07c;
@define-color blue #83a598;
@define-color gray #928374;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
}

window#waybar {
    /* Use a solid hex code (no transparency) */
    background-color: alpha(#262626, 0); 
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: @gray;
}

#workspaces button.focused {
    color: #689d6a;
    border-bottom: 3px solid #689d6a;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces, #clock, #battery, #pulseaudio, #network, #custom-session {
    padding: 0 10px;
}

#network { 
    color: @blue; /* Wifi / Ethernet -> Blue */
}

#network.eth {
    color: @blue;
}

#pulseaudio { 
    color: @green; /* Volume -> Light Green */
}

#battery { 
    color: @yellow; /* Battery -> Yellow */
}

#battery.critical:not(.charging) {
    color: @red; /* Changes text to red only if battery is critical */
}

#custom-session { 
    color: @red; /* Session exit text -> Red */
}
